/* Montserrat font */
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

* {
  padding: 0;
  margin: 0;
  border: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
}



.card {
  margin: .5em;
  button {
    position: absolute;
    bottom: 0;
    margin: 1em 0;
  }
  p {
    margin-bottom: 3em;
  }
}

#newBookForm input {
  margin: .75em 0;

  &#pages {
    width: 10em;
  }
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

element {
  position: absolute;
  bottom: 0;
  margin: 1em;
}

@media all and (min-width: 1000px) {
  main .container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}